div:hover {
    border: 2px solid black;
}

div:nth-last-of-type(1) {
    background-color: royalblue;
}

div:nth-of-type(2) {
    background-color: aqua;
}

div:nth-of-type(3) {
    background-color: orange;
}

div:nth-of-type(4) {
    background-color: skyblue;
}

div:nth-of-type(5) {
    background-color: darkblue;
}

div:nth-of-type(2n+1) h3 {
    font-style: italic;
}